<div class="tickets-container">
  <div *ngIf="loading" class="loading">Loading...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="grid-container" *ngIf="!error && rowData.length">
    <ag-grid-angular
      class="ag-theme-material"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      style="width: 100%;"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
